@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #173851;
$background: #ebe8eb;
$border: #173851;

$max_width: 1100px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*@font-face {
	font-family: 'Font Name';
	src: url(fonts/Font-Name.otf);
}*/

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 10px 0;
	background-color: $secondary_color;
	.moduletable_to11 {
		font-size: 10px;
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
		#d {
			a {
				margin: 0 5px;
				display: inline-block;
			}
		}
	}
}

.top {
	padding: 15px 0;
	background-color: $background;
	.moduletable_to1 {
		max-height: 76px;
		margin-top: -35px;
		position: relative;
		z-index: 10;
	}
	.moduletable_to3 {
		.woocommerce-product-search {
			input[type=search] {
				height: inherit;
				margin: 0;
				padding: 2px 10px 2px 30px;
				background: {
					color: transparent;
					image: url(moduletable_to3_input_bg.png);
					position: left;
					repeat: no-repeat;
				}
				border: {
					color: $secondary_color;
					radius: 0;
				}
				font-size: 14px;
				color: $secondary_color;
				text: {
					align: center;
					transform: uppercase;
				}
				&::placeholder {
					color: $secondary_color;
				}
			}
			[type=submit] {
				display: none;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		width: fit-content;
		margin-bottom: 0;
		padding: 0 20px;
		border: {
			left: 1px solid $secondary_color;
			right: 1px solid $secondary_color;
		}
		font: {
			size: 40px;
			weight: bold;
		}
		color: $secondary_color;
		line-height: 40px;
	}
	h2 {
		margin: 0;
		font: {
			size: 40px;
			weight: bold;
		}
		.line_1 {
			color: $secondary_color;
		}
		.line_2 {
			color: $primary_color;
		}
	}
	b,
	strong {
		color: $secondary_color;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
			&.hollow {
				background-color: transparent;
				border-color: $secondary_color;
				color: $secondary_color;
			}
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	margin-top: -35px;
	position: relative;
	z-index: 10;
	.moduletable_b11 {
		padding: 30px;
		background-color: $background;
		h3 {
			width: fit-content;
			margin: auto;
			padding: 0 20px;
			border: {
				left: 1px solid $secondary_color;
				right: 1px solid $secondary_color;
			}
			font: {
				size: 18px;
				weight: bold;
			}
			color: $secondary_color;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			width: fit-content;
			margin: auto;
			padding: 0 20px;
			border: {
				left: 1px solid $secondary_color;
				right: 1px solid $secondary_color;
			}
			font: {
				size: 18px;
				weight: bold;
			}
			color: $secondary_color;
		}
		.owl-item {
			figure {
				padding: 10px;
				border: 1px solid $border;
				figcaption {
					background-color: transparent;
					a.wpb-wps-product-title {
						h3.pro_title {
							width: inherit;
							border: 0;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	.moduletable_b31 {
		iframe {
			border: 0;
		}
	}
}

/* Block 4 */

.block_4 {
	.moduletable_b41 {
		p {
			margin: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		color: #fff;
		ul {
			list-style: none;
		}
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
		#border {
			border: {
				left: 1px solid #fff;
				right: 1px solid #fff;
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	a {
		color: $primary_color;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}